.ci-barcode-list {
  .ci-barcode-list-control {
    .ci-barcode-list-control--add {
      justify-content: center;

      &:hover {
        cursor: pointer;
        .ci-barcode-list-control-icon {
          color: #0b5ca6;
          transform: rotate(90deg);
        }
      }
    }

    .ci-barcode-list-control-icon {
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      color: #b6b6b6;
    }
  }
}

.ci-barcode-item-card {
  margin-bottom: 24px;
}

.mat-card-header button {
  margin-left: auto;
}

//.ci-barcode-card:last-child {
//  opacity: .8;
//  background-color: rgba(0, 0, 0, .1);
//  position: relative;
//  cursor: pointer;
//
//  & div.ci-add-barcode {
//    position: absolute;
//    left: 0;
//    right: 0;
//    top: 0;
//    bottom: 0;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//
//    & i {
//      font-size: 48px;
//      color: white;
//      opacity: .6;
//    }
//  }
//}

.mat-card-actions,
.mat-card-content {
  margin: 0 !important;
  padding: 0 !important;
}
