@import "~src/breakpoints.scss";

.example-card {
  max-width: 400px;
  height: 100%;
  box-sizing: border-box;
  position: relative;

  @include for-phone-only {
    background-color: #759fff;
  }
}

.example-card h4 {
  margin-top: 0px;
}


.ci-rsa-exist {
  position: absolute;
  right: 1em;
  top: 1em;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example div {
  min-width: 100px;
  height: 100px;
  background-color: #0b5ca6;
}

:host {
  margin-bottom: 32px;
}

.active {
  background-color: red;
}

