<!--<div-->
<!--  fxLayout="row wrap"-->
<!--  fxLayout.lt-sm="column"-->
<!--  fxLayoutGap="24px"-->
<!--  fxLayoutAlign="flex-start" *ngIf="info$ | async">-->
<!--  <mat-card-->
<!--    fxFlex="0 1 calc(33.3% - 32px)"-->
<!--    fxFlex.lt-md="0 1 calc(50% - 32px)"-->
<!--    fxFlex.lt-sm="100%">-->
<!--    <mat-card-content>-->
<!--      <div fxLayout="column">-->
<!--        <div class="ci-widget-name">{{name1}}</div>-->
<!--        <div fxFlex fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of listitems">-->
<!--          <mat-icon [ngClass]="-->
<!--                item.icon == 'clear' ? 'material-icons lite-red' : (-->
<!--                item.icon == 'error_outline' ?-->
<!--                'material-icons orange600' : 'material-icons lite-green')">{{item.icon}}</mat-icon>-->
<!--          <div class="ci-utm-info-list-item-text">-->
<!--            <div class="ci-utm-info-list-item-title">{{item.title}}</div>-->
<!--            <div class="ci-utm-info-list-item-description">{{item.description}}</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->

<!--      <div class="ci-widget-name">{{name1}}</div>-->
<!--      <mat-list>-->
<!--        <mat-list-item *ngFor="let item of listitems">-->
<!--          <mat-icon mat-list-icon [ngClass]="-->
<!--                item.icon == 'clear' ? 'material-icons lite-red' : (-->
<!--                item.icon == 'error_outline' ?-->
<!--                'material-icons orange600' : 'material-icons lite-green')">{{item.icon}}</mat-icon>-->
<!--          <h4 mat-line class="ci-utm-info-list-item-title">{{item.title}}</h4>-->
<!--          <p mat-line class="ci-utm-info-list-item-description">{{item.description}}</p>-->
<!--        </mat-list-item>-->
<!--      </mat-list>-->

<!--<div class="ci-utm-info-list-container">-->
<!--  <div class="ci-widget-name">{{name2}}</div>-->
<!--  <div *ngIf="info$ | async">-->
<!--    <div *ngFor="let item of listitems" class="ci-utm-info-list-item-content">-->
<!--      <mat-icon [ngClass]="-->
<!--                item.icon == 'clear' ? 'material-icons lite-red' : (-->
<!--                item.icon == 'error_outline' ? 'material-icons orange600' : 'material-icons lite-green')">{{item.icon}}</mat-icon>-->
<!--      <div class="ci-utm-info-list-item-text">-->
<!--        <div class="ci-utm-info-list-item-title">{{item.title}}</div>-->
<!--        <div class="ci-utm-info-list-item-description">{{item.description}}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="card-list">-->
<!--  <mat-card class="card-list-item">-->
<!--    <mat-card-content>-->

<!--      <div class="ci-utm-info-list-container">-->
<!--        <div class="ci-widget-name">{{name2}}</div>-->
<!--        <div class="ci-utm-info-list-item">-->
<!--          <div *ngFor="let item of listitems" class="ci-utm-info-list-item-content">-->
<!--            <mat-icon [ngClass]="-->
<!--          item.icon == 'clear' ? 'material-icons lite-red' : (-->
<!--          item.icon == 'error_outline' ? 'material-icons orange600' : 'material-icons lite-green')">{{item.icon}}</mat-icon>-->
<!--            <div class="ci-utm-info-list-item-text">-->
<!--              <div class="ci-utm-info-list-item-title">{{item.title}}</div>-->
<!--              <div class="ci-utm-info-list-item-description">{{item.description}}</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </mat-card-content>-->

<!--  </mat-card>-->
<!--</div>-->
<div fxLayout="row" fxLayoutGap="16px">
  <ng-container *appNgLoop="numbers">
    <p>Loop</p>
  </ng-container>
</div>

<button mat-raised-button (click)="removeData()">Remove</button>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div *ngIf="noData | async" class="no-records">No records found</div>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
