<!--<div class="flex-container">-->
<!--  <div *ngFor="let item of data$ | async">{{item.name}}</div>-->
<!--</div>-->


<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="24px"
  fxLayoutAlign="flex-start" *ngIf="info$ | async">
  <mat-card
    fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%">
    <mat-card-content>
      <div fxLayout="column">
        <div class="ci-widget-name">{{name1}}</div>
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of listitems">
          <mat-icon [ngClass]="
                item.icon == 'clear' ? 'material-icons lite-red' : (
                item.icon == 'error_outline' ?
                'material-icons orange600' : 'material-icons lite-green')">{{item.icon}}</mat-icon>
          <div class="ci-utm-info-list-item-text">
            <div class="ci-utm-info-list-item-title">{{item.title}}</div>
            <div class="ci-utm-info-list-item-description">{{item.description}}</div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>


</div>

<div class="card-list">
  <mat-card class="card-list-item">
    <mat-card-content>

      <div class="ci-utm-info-list-container">
        <div class="ci-widget-name">{{name2}}</div>
        <div class="ci-utm-info-list-item">
          <div *ngFor="let item of listitems" class="ci-utm-info-list-item-content">
            <mat-icon [ngClass]="
          item.icon == 'clear' ? 'material-icons lite-red' : (
          item.icon == 'error_outline' ? 'material-icons orange600' : 'material-icons lite-green')">{{item.icon}}</mat-icon>
            <div class="ci-utm-info-list-item-text">
              <div class="ci-utm-info-list-item-title">{{item.title}}</div>
              <div class="ci-utm-info-list-item-description">{{item.description}}</div>
            </div>
          </div>
        </div>
      </div>

    </mat-card-content>

  </mat-card>
  <mat-card class="card-list-item">
    <mat-card-content>

      <div class="ci-utm-info-list-container">
        <div class="ci-widget-name">{{name2}}</div>
        <div class="ci-utm-info-list-item">
          <div *ngFor="let item of listitems" class="ci-utm-info-list-item-content">
            <mat-icon [ngClass]="
          item.icon == 'clear' ? 'material-icons lite-red' : (
          item.icon == 'error_outline' ? 'material-icons orange600' : 'material-icons lite-green')">{{item.icon}}</mat-icon>
            <div class="ci-utm-info-list-item-text">
              <div class="ci-utm-info-list-item-title">{{item.title}}</div>
              <div class="ci-utm-info-list-item-description">{{item.description}}</div>
            </div>
          </div>
        </div>
      </div>

    </mat-card-content>

  </mat-card>
</div>


<div fxLayout="row wrap"
     fxLayout.lt-sm="column"
     fxLayoutGap="24px"
     fxLayoutAlign="flex-start">
  <mat-card fxFlex="0 1 calc(33.3% - 32px)"
            fxFlex.lt-md="0 1 calc(50% - 32px)"
            fxFlex.lt-sm="100%">
    <mat-card-content>

      <div class="ci-utm-info-list-container">
        <div class="ci-widget-name">{{name3}}</div>
        <div class="ci-utm-info-list-item">
          <div *ngFor="let item of listitems" class="ci-utm-info-list-item-content">
            <mat-icon [ngClass]="
          item.icon == 'clear' ? 'material-icons lite-red' : (
          item.icon == 'error_outline' ? 'material-icons orange600' : 'material-icons lite-green')">{{item.icon}}</mat-icon>
            <div class="ci-utm-info-list-item-text">
              <div class="ci-utm-info-list-item-title">{{item.title}}</div>
              <div class="ci-utm-info-list-item-description">{{item.description}}</div>
            </div>
          </div>
        </div>
      </div>

    </mat-card-content>

  </mat-card>
  <mat-card fxFlex="0 1 calc(33.3% - 32px)"
            fxFlex.lt-md="0 1 calc(50% - 32px)"
            fxFlex.lt-sm="100%">
    <mat-card-content>

      <div class="ci-utm-info-list-container">
        <div class="ci-widget-name">{{name3}}</div>
        <div class="ci-utm-info-list-item">
          <div *ngFor="let item of listitems" class="ci-utm-info-list-item-content">
            <mat-icon [ngClass]="
          item.icon == 'clear' ? 'material-icons lite-red' : (
          item.icon == 'error_outline' ? 'material-icons orange600' : 'material-icons lite-green')">{{item.icon}}</mat-icon>
            <div class="ci-utm-info-list-item-text">
              <div class="ci-utm-info-list-item-title">{{item.title}}</div>
              <div class="ci-utm-info-list-item-description">{{item.description}}</div>
            </div>
          </div>
        </div>
      </div>

    </mat-card-content>

  </mat-card>
</div>

<div class="card-list">
  <mat-card class="card-list-item">
    <mat-card-content>

      <div fxFlexFill fxLayout="column">
        <div class="ci-widget-name">{{name4}}</div>
        <div fxFlex fxLayout="column">
          <div fxFlex fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of listitems">
            <mat-icon [ngClass]="
                item.icon == 'clear' ? 'material-icons lite-red' : (
                item.icon == 'error_outline' ?
                'material-icons orange600' : 'material-icons lite-green')">{{item.icon}}</mat-icon>
            <div fxFlex fxLayout="column" class="ci-utm-info-list-item-text">
              <div class="ci-utm-info-list-item-title">{{item.title}}</div>
              <div class="ci-utm-info-list-item-description">{{item.description}}</div>
            </div>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
  <mat-card class="card-list-item">
    <mat-card-content>

      <div fxFlexFill fxLayout="column">
        <div class="ci-widget-name">{{name4}}</div>
        <div fxFlex fxLayout="column">
          <div fxFlex fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of listitems">
            <mat-icon [ngClass]="
                item.icon == 'clear' ? 'material-icons lite-red' : (
                item.icon == 'error_outline' ?
                'material-icons orange600' : 'material-icons lite-green')">{{item.icon}}</mat-icon>
            <div fxFlex fxLayout="column" class="ci-utm-info-list-item-text">
              <div class="ci-utm-info-list-item-title">{{item.title}}</div>
              <div class="ci-utm-info-list-item-description">{{item.description}}</div>
            </div>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>


</div>

<div>
  <mat-card>
    <mat-card-content fxLayout="column">

        <div>{{name5}}</div>
        <div fxFlex fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of listitems">
          <mat-icon [ngClass]="
                item.icon == 'clear' ? 'material-icons lite-red' : (
                item.icon == 'error_outline' ?
                'material-icons orange600' : 'material-icons lite-green')">{{item.icon}}</mat-icon>
          <div class="ci-utm-info-list-item-text">
            <div class="ci-utm-info-list-item-title">{{item.title}}</div>
            <div class="ci-utm-info-list-item-description">{{item.description}}</div>
          </div>
        </div>

    </mat-card-content>

  </mat-card>
</div>



<!--<mat-card-content>-->
<!--  <div class="ci-utm-info-list-item">-->
<!--    <div *ngFor="let item of listitems2" class="ci-utm-info-list-item-content">-->
<!--      <mat-icon>{{item.icon}}</mat-icon>-->
<!--      <div class="ci-utm-info-list-item-text">-->
<!--        <div class="ci-utm-info-list-item-title">{{item.title}}</div>-->
<!--        <div class="ci-utm-info-list-item-description">{{item.description}}</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</mat-card-content>-->


