@use '@angular/material' as mat;
@mixin test-page-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .ml-file-list {
    border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
  }

  .ml-file-list-item {
    color: mat.get-color-from-palette($primary);

    &:hover,
    &:active,
    &:focus {
      background-color: mat.get-color-from-palette($background, hover);
    }

    &.selected {
      background-color: mat.get-color-from-palette($primary, lighter, 0.5);
      color: mat.get-color-from-palette($foreground, text);
    }
  }
}
