<div
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutGap="12px"
  fxLayoutGap.lt-md="0px"
  [formGroup]="group"
>
  <mat-form-field floatLabel="always" class="ci-full-width">
    <input
      matInput
      placeholder="Объём безводного спирта, дал"
      formControlName="volumeAnhydrous"
    />
  </mat-form-field>

  <mat-form-field floatLabel="always" class="ci-full-width">
    <input
      matInput
      placeholder="Объём при 20 градусах C, дал"
      formControlName="volume20C"
    />
  </mat-form-field>
</div>
