<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [style.width]="'100%'">

  <ng-container matColumnDef="fsrarId">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.fsrarId}} </td>
  </ng-container>

  <ng-container matColumnDef="firmType">
    <th mat-header-cell *matHeaderCellDef> TYPE </th>
    <td mat-cell *matCellDef="let element"> {{element.firmType}} </td>
  </ng-container>

  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef> FULL_NAME </th>
    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
  </ng-container>

  <ng-container matColumnDef="inn">
    <th mat-header-cell *matHeaderCellDef> INN </th>
    <td mat-cell *matCellDef="let element"> {{element.inn}} </td>
  </ng-container>

  <ng-container matColumnDef="kpp">
    <th mat-header-cell *matHeaderCellDef> KPP </th>
    <td mat-cell *matCellDef="let element"> {{element.kpp}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToDetail(row)"></tr>
</table>


<div [style.margin-top.px]="'100'">
  <app-filters [filters]="licFilters" group="type"></app-filters>
</div>


