<div fxLayout="row" fxLayoutAlign="start start">
    <form [formGroup]="codeIssuanceForm" (ngSubmit)="sendIssue()" [style.width]="'100%'">
      <mat-horizontal-stepper linear labelPosition="bottom" #stepper
                              (selectionChange)="stepChanged(stepper);">
        <!--        Отправитель  -->
        <mat-step [stepControl]="codeIssuanceForm">
          <ng-template matStepLabel>Заявитель</ng-template>
          <div fxLayout.gt-md="row"
               fxLayout.lt-md="column"
               fxLayoutGap="12px"
               fxLayoutGap.lt-md="0px" [formGroup]="codeIssuanceForm">

            <mat-form-field floatLabel="always" class="ci-full-width">
              <input matInput placeholder="Номер заявления"
                     formControlName="claimNumber">
            </mat-form-field>

            <app-date-picker ph="Дата заявления" formControlName="claimDate"></app-date-picker>

          </div>
          <app-declarer-details [group]="codeIssuanceForm.get('declarerDetails')"></app-declarer-details>
          <app-barcodes-list [group]="codeIssuanceForm"
                             (addBarcode)="onBarcodeAdd()"
                             (deleteBarcode)="onBarcodeDelete($event)"
                             (clearBarcode)="onBarcodeClear($event)"></app-barcodes-list>
        </mat-step>

        <ng-container *ngFor="let calcItem of calcList">
          <mat-step *ngIf="calcItem.checked">
            <ng-template matStepLabel>{{calcItem.label}}</ng-template>
            <div [ngSwitch]="calcItem.id">
<!--              <app-spirit-calculation-part *ngSwitchCase="'spirit'"-->
<!--                                           [group]="calculationDemand.get('spirit')"></app-spirit-calculation-part>-->

              <div *ngSwitchCase="'spirit'">spirit</div>
              <div *ngSwitchCase="'wineMaterial'">wineMaterial</div>
              <div *ngSwitchCase="'rawAged'">wineMaterial</div>
              <div *ngSwitchCase="'markedAP'">wineMaterial</div>
              <div *ngSwitchCase="'productiveCapacity'">wineMaterial</div>
              <div *ngSwitchCase="'wineMakingAP'">wineMaterial</div>
            </div>
          </mat-step>
        </ng-container>

        <!--Submit-->
        <mat-step>
          <ng-template matStepLabel>Отправка</ng-template>
          <p>Заявление номер {{codeIssuanceForm.controls['claimNumber'].value}}
            от {{codeIssuanceForm.controls['claimDate'].value | json}} подписано электронной подписью</p>
          <button mat-button type="submit">Отправить</button>
        </mat-step>

      </mat-horizontal-stepper>


      <div>
        <button mat-button *ngIf="stepper.selectedIndex !== 0" (click)="goBack(stepper)"
                type="button">Назад
        </button>
        <button mat-button *ngIf="stepper.selectedIndex !== totalStepsCount-1"
                (click)="stepper.next()" type="button">Дальше
        </button>
      </div>


    </form>

<!--  <div fxFlex="0 0 300px" fxLayout="column" class="ci-side-menu-container">-->
<!--    <p>Расчет потребностей в ФСМ</p>-->
<!--    <mat-checkbox *ngFor="let item of calcList"-->
<!--                  [(ngModel)]="item.checked"-->
<!--                  (change)="setTotalStepsCount($event)"-->
<!--    >{{item.label}}</mat-checkbox>-->
<!--  </div>-->
</div>


