<div fxLayout="column" [formGroup]="group">
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap="24px"
    fxLayoutGap.lt-md="0px"
    formGroupName="raw"
  >
    <mat-form-field
      fxFlex.gt-md="50%"
      fxFlex.lt-lg="100%"
      floatLabel="always"
      class="ci-full-width"
    >
      <input matInput placeholder="Продукция" formControlName="fullName" />
    </mat-form-field>

    <mat-form-field floatLabel="always" class="ci-full-width">
      <input matInput placeholder="Код продукции" formControlName="alcCode" />
    </mat-form-field>

    <mat-form-field floatLabel="always" class="ci-full-width">
      <input
        matInput
        placeholder="Содержание этилового спирта (%)"
        formControlName="alcVolume"
      />
    </mat-form-field>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="24px" fxLayoutGap.lt-sm="0px">
    <div fxLayout="column" fxFlex="calc(50%-24px)" fxFlex.lt-sm="100%">
      <p>Объем произведенного сырья с даты заполнения предыдущего расчёта:</p>
      <app-volume-type
        [group]="volumeProducedRaw"
      ></app-volume-type>
    </div>

    <div fxLayout="column" fxFlex="calc(50%-24px)" fxFlex.lt-sm="100%">
      <p>Объём отгруженного сырья с даты заполнения предыдущего расчёта:</p>
      <app-volume-type [group]="volumeOutRaw"></app-volume-type>
    </div>
  </div>

  <p>Объём полученного сырья с даты предыдущего отчёта:</p>

  <div
    fxLayout.xl="row"
    fxLayout="row wrap"
    fxLayoutGap="24px"
    formGroupName="volumeReceivedRaw"
  >
    <div fxLayout="column" fxFlex.xl="calc(33.3% - 24px)" fxFlex.lt-sm="100%">
      <p>с выдержки</p>
      <app-volume-type
        [group]="volumeFromAgingRaw"
      ></app-volume-type>
    </div>

    <div fxLayout="column" fxFlex.xl="calc(33.3% - 24px)" fxFlex.lt-sm="100%">
      <p>закупка от поставщиков (объём, зафиксированный в ЕГАИС)</p>
      <app-volume-type
        [group]="volumeBuyRaw"
      ></app-volume-type>
    </div>

    <div fxLayout="column" fxFlex.xl="calc(33.3% - 24px)" fxFlex.lt-sm="100%">
      <p>слив и переработка (объём, зафиксированный в ЕГАИС)</p>
      <app-volume-type
        [group]="volumeConversionRaw"
      ></app-volume-type>
    </div>
  </div>

  <p>Объём использованного сырья с даты предыдущего отчёта:</p>

  <div
    fxLayout.xl="row"
    fxLayout="row wrap"
    fxLayoutGap="24px"
    formGroupName="volumeUsedRaw"
  >
    <div fxLayout="column" fxFlex.xl="calc(50% - 24px)" fxFlex.lt-sm="100%">
      <p>на выдержку</p>
      <app-volume-type
        [group]="volumeToAgingRaw"
      ></app-volume-type>
    </div>

    <div fxLayout="column" fxFlex.xl="calc(50% - 24px)" fxFlex.lt-sm="100%">
      <p>
        на производство АП (с учётом потерь, объём, зафиксированный в ЕГАИС)
      </p>
      <app-volume-type
        [group]="volumeToProducedRaw"
      ></app-volume-type>
    </div>
  </div>

  <p>Извещение или справка по импортированному сырью:</p>

  <div
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutGap="24px"
    fxLayoutGap.lt-sm="0px"
    formGroupName="claimImportRawType"
  >
    <mat-form-field
      floatLabel="always"
      class="ci-full-width"
      fxFlex="calc(20% - 24px)"
      fxFlex.lt-sm="100%"
    >
      <input
        matInput
        placeholder="Объем безводного спирта (дал)"
        formControlName="volumeAnhydrousImp"
      />
    </mat-form-field>
    <mat-form-field
      floatLabel="always"
      class="ci-full-width"
      fxFlex="calc(20% - 24px)"
      fxFlex.lt-sm="100%"
    >
      <input matInput placeholder="Номер" formControlName="claimNumber" />
    </mat-form-field>
    <mat-form-field
      floatLabel="always"
      class="ci-full-width"
      fxFlex="calc(20% - 24px)"
      fxFlex.lt-sm="100%"
    >
      <input
        matInput
        [matDatepicker]="claimDatePicker"
        placeholder="Дата"
        formControlName="claimDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="claimDatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #claimDatePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field
      floatLabel="always"
      class="ci-full-width"
      fxFlex="calc(20% - 24px)"
      fxFlex.lt-sm="100%"
    >
      <input
        matInput
        placeholder="Сумма авансового платежа, руб."
        formControlName="sumAdvancePayment"
      />
    </mat-form-field>
    <mat-form-field
      floatLabel="always"
      class="ci-full-width"
      fxFlex="calc(20% - 24px)"
      fxFlex.lt-sm="100%"
    >
      <input
        matInput
        placeholder="Объём безводного спирта, дал"
        formControlName="volumeAnhydrousImp"
      />
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>
  <div
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutGap="24px"
    fxLayoutGap.lt-sm="0px"
    fxLayoutAlign="space-between stretch"
  >
    <mat-form-field fxFlex.gt-md="30%" fxFlex.lt-lg="100%" floatLabel="always">
      <input
        matInput
        placeholder="Объём остатка безводного спирта, указанный в предыдущем расчёте (дал)"
        formControlName="volumeAnhydrousRest"
      />
    </mat-form-field>
    <mat-form-field fxFlex.gt-md="30%" fxFlex.lt-lg="100%" floatLabel="always">
      <input
        matInput
        placeholder="Итого сырья для получения ФСМ, спирта безводного, дал"
        formControlName="totalRaw"
      />
    </mat-form-field>
  </div>
</div>
